body{
  background-color: rgb(221, 202, 246);
}


button{
  width: 30%;
  border: none;
  padding: 2% 5%;
  border-radius: 10px;
}
.download-container{
  cursor: pointer;
  width: 30%;
  background-color: white;
  color: black;
  font-weight: 600;
  font-size: 20px;
}
.loading-container{
  cursor: pointer;
  width: 30%;
  background-color: rgb(8, 164, 125);
  color: white;
  font-weight: 600;
  font-size: 20px; 
}
.done-container{
  cursor: pointer;
  width: 30%;
  background-color: rgb(153, 9, 249);
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}
/* 
.progress {
  background-color: rgb(11, 222, 92);
  height: 5px;
  border-radius: 1rem;
  transition: 1s ease;
  transition-delay: 0.5s;
} */
a { color: white; text-decoration: none; }

.arrow {
  text-align: center;
  /* margin: 8% 0; */
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


.progress {
    width:100%;
    margin-top: 5%;
    margin-bottom: -10%;
  }
  
  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: green;
    height: 5px;
    width: 0;
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 108%; }
  }

